<tr id="item_history_<%= order.id %>">
  <td>
    <% order.order_details.each do |odt| %>
      <%= odt.product_detail.product_name %>|
    <% end %>
  </td>
  <td><%= order.order_details.sum("quantity") %></td>
  <td><%= number_to_currency cal_purchase_price(order.discount, total_price(order)) %></td>
  <td><%= l(order.created_at, format: :short) %></td>
  <td class="action-order">
    <%= link_to t("show"), order, class: "btn btn-primary" %>
    <% if order.wait? %>
      <%= render partial: "status_form",
                 locals: {order: order, status: :rejected, title: t("cancel")} %>
    <% elsif order.status_buy_again? %>
      <%= render partial: "status_form",
                 locals: {order: order, status: :wait, title: t("repurchase")} %>
    <% end %>
  </td>
</tr>
