<div class="product">
  <div class="container">
    <div>
      <%= form_tag homes_path, method: :get do %>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "category" %>:</label>
            <%= select_tag :category_id, options_for_select(@categories, params[:category_id]),
                                                            class: "form-control",
                                                            onchange: "this.form.submit()" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "colour" %>:</label>
            <%= select_tag :product_color_id, options_for_select(@colours, params[:product_color_id]),
                                                                 class: "form-control",
                                                                 onchange: "this.form.submit()" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "size" %>:</label>
            <%= select_tag :product_size_id, options_for_select(@sizes, params[:product_size_id]),
                                                                class: "form-control",
                                                                onchange: "this.form.submit()" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "more_than" %>:</label>
            <%= select_tag :min_price, options_for_select(load_price_option, params[:min_price]),
                                                          class: "form-control",
                                                          onchange: "this.form.submit()" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "less_than" %>:</label>
            <%= select_tag :max_price, options_for_select(load_price_option, params[:max_price]),
                                                          class: "form-control",
                                                          onchange: "this.form.submit()" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label class="invisible" style="visibility:none">.</label>
            <%= submit_tag t("search"), class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="product-top">
      <div class="product-one">
        <%= render partial: "shared/item_product", collection: @products, as: :product %>
      </div>
    </div>
  </div>
  <div class="container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
