<div class="product">
  <div class="container">
    <div>
      <%= search_form_for @q, url: homes_path do |f| %>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "category" %>:</label>
            <%= f.select :category_id_eq, options_for_select(@categories, @q.category_id_eq), {},
                                                            class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "colour" %>:</label>
            <%= f.select :product_detail_product_color_id_eq, options_for_select(@colours, @q.product_detail_product_color_id_eq), {},
                                                                 class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label><%= t "size" %>:</label>
            <%= f.select :product_detail_product_size_id_eq, options_for_select(@sizes, @q.product_detail_product_size_id_eq), {},
                                                                class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <%= f.label t "from_price" %>
            <%= f.search_field :filter_by_min_price, placeholder: t("search"), class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <%= f.label t "to_price" %>
            <%= f.search_field :filter_by_max_price, placeholder: t("search"), class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label class="invisible" style="visibility:none">.</label>
            <%= submit_tag t("search"), class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>
      <%= sort_link @q, :created_at, t("by_new"), default_order: :desc %>
    </div>
    <div class="product-top">
      <div class="product-one">
        <%= render partial: "shared/item_product", collection: @products, as: :product %>
      </div>
    </div>
  </div>
  <div class="container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center"><%= t "hot_sell" %></h1>
  </div>
    <div class="product-top">
      <div class="product-one">
        <%= render partial: "shared/item_product", collection: @hot_sell, as: :product %>
      </div>
    </div>
  </div>
</div>
