<div class="col-sm-10 main">
  <h1><%= t ".title" %></h1>
  <h3><%= @product.name %></h3>
  <h4><%= t "desc" %></h4>
  <p><%= @product.desc %></p>
  <h4><%= t "material" %></h4>
  <p><%= @product.material %></p>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t "size" %></th>
        <th scope="col"><%= t "color" %></th>
        <th scope="col"><%= t "price" %></th>
        <th scope="col"><%= t "quantity" %></th>
      </tr>
    </thead>
    <tbody>
      <% @product.product_detail.each do |pdt| %>
        <tr>
            <td><%= pdt.product_size.size  %>
            <td><%= pdt.product_color.color %></td>
            <td><%= number_to_currency pdt.price %></td>
            <td><%= pdt.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t("edit"), edit_admin_product_path(@product),
                         class: "btn btn-warning mt-5" %>
</div>
<% @product.images.each do |image| %>
    <%= image_tag @product.display_image(image) if @product.images.attached? %>
<% end %>
