<tr>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td data-active=<%= user.activated %>>
    <%= link_to show_activate(user), admin_user_path(user),
                remote: :true, method: :PATCH, id: "update_activate_#{user.id}" %>
  </td>
</tr>
