<div class="col-sm-10 main">
  <h1 class="page-header"><%= t "admin.title" %></h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t "user.name" %></th>
          <th><%= t "user.email" %></th>
          <th><%= t "user.phone" %></th>
          <th><%= t "user.address" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.phone %></td>
          <td><%= @user.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
