<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= t "admin.detail_user" %></div>
    <div class="panel-body detail_user">
      <div><strong class="pr-90"><%= t "name" %>:</strong><%= @user.name %></div>
      <div><strong class="pr-90"><%= t "email" %>:</strong><%= @user.email %></div>
      <div><strong class="pr-90"><%= t "phone" %>:</strong><%= @user.phone %></div>
      <div><strong class="pr-90"><%= t "address" %>:</strong><%= @user.address %></div>
      <div><strong class="pr-90"><%= t "user.current_sign_in_ip" %>:</strong><%= @user.current_sign_in_ip %></div>
      <div><strong class="pr-90"><%= t "user.last_sign_in_ip" %>:</strong><%= @user.last_sign_in_ip %></div>
      <div><strong class="pr-90"><%= t "user.sign_in_count" %>:</strong><%= @user.sign_in_count %></div>
      <div><strong class="pr-90"><%= t "user.current_sign_in_at" %>:</strong><%= @user.current_sign_in_at %></div>
      <div><strong class="pr-90"><%= t "user.last_sign_in_at" %>:</strong><%= @user.last_sign_in_at %></div>
    </div>
  </div>
</div>
